<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="assets\imagens\predio.jpg">
        </div>
        <div class="col-md-5">
            <h1><u>Opa bom?</u></h1>
            <p>Mussum Ipsum, cacilds vidis litro abertis. A ordem dos tratores não altera o pão duris. Leite de
                capivaris, leite de mula manquis sem cabeça. Admodum accumsan disputationi eu sit. Vide electram
                sadipscing et per. Interagi no mé, cursus quis, vehicula ac nisi.</p>

            <p>Mé faiz elementum girarzis, nisi eros vermeio. Diuretics paradis num copo é motivis de denguis. In
                elementis mé pra quem é amistosis quis leo. Casamentiss faiz malandris se pirulitá.</p>

            <p>Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Manduma
                pindureta quium dia nois paga. Quem num gosta di mé, boa gentis num é. Suco de cevadiss, é um leite
                divinis, qui tem lupuliz, matis, aguis e fermentis.</p>

           
        </div>

        <div class="card col-md-5" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tel: (xx) xxxxx-xxxx</li>
                <li class="list-group-item">Email: xxx.xx@xx.com</li>
                <li class="list-group-item">Fale com nosco</li>
            </ul>
        </div>

    </div>
</div>