img{
    filter: opacity(30%);
    width: 1611%;
    height: 100%;
    
}
h1{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
    
